modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
R2_ACCOUNT_ID = "d53f52a4cb07d614ca27d711a48bd43c"
R2_BUCKET_NAME = "eafc-manager"
R2_PUBLIC_URL = "https://pub-e5a35ce73d624db58d68362ce156cc74.r2.dev"
R2_ACCESS_KEY_ID = "911b6e4e8eb888856eba0583478c61cb"
R2_SECRET_ACCESS_KEY = "5206ba3269570a22fe3c7deeabe29cd889eaf5dfbfb5f537011a636180228ffe"
