modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend API"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Expo Mobile App"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=5000 pnpm --filter @workspace/fc-career-manager run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Backend API"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 NODE_ENV=development MIGRATIONS_PATH=/home/runner/workspace/lib/db/migrations node --enable-source-maps /home/runner/workspace/artifacts/api-server/dist/index.mjs"
waitForPort = 8080

[[workflows.workflow]]
name = "Expo Mobile App"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mkdir -p ~/.ngrok2 && echo 'authtoken: 3Cu5SyGSIqgjCgP7kda5ZhlUsne_mNJNqdDtppe9SkA7g7fz' > ~/.ngrok2/ngrok.yml && EXPO_PUBLIC_API_URL=https://managereafc-production.up.railway.app pnpm --filter @workspace/fc-career-manager-mobile exec expo start --tunnel"

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true
integrations = ["stripe:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
R2_ACCOUNT_ID = "d53f52a4cb07d614ca27d711a48bd43c"
R2_BUCKET_NAME = "eafc-manager"
R2_PUBLIC_URL = "https://pub-e5a35ce73d624db58d68362ce156cc74.r2.dev"
R2_ACCESS_KEY_ID = "911b6e4e8eb888856eba0583478c61cb"
R2_SECRET_ACCESS_KEY = "5206ba3269570a22fe3c7deeabe29cd889eaf5dfbfb5f537011a636180228ffe"
GEMINI_API_KEY = "AIzaSyBY05_Uay-vk_385eqmZ4v8dZO28UTeUuk"
JWT_SECRET = "fb8758bef5332a115c07a5f21bfff44c03c3711ff8cc05ffa9d651424f6d6106"
MIGRATIONS_PATH = "/home/runner/workspace/lib/db/migrations"
EXPO_TOKEN = "Cb1-gfSWt4DjbZsmFX4rE-3p4fD69IqQLNOXOE8M"
NGROK_AUTHTOKEN = "3Cu5SyGSIqgjCgP7kda5ZhlUsne_mNJNqdDtppe9SkA7g7fz"

[[ports]]
localPort = 5000
externalPort = 80
